# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

target/



# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

# Kubernetes
k8s/*.yaml~

# Others
*.swp
target/
